.buttonLogInOut {
  position: absolute;
  right: 16px;
  top: 23px;
  border: 2px #00A9D8 solid;
  border-radius: 3px;
  padding: 4px 20px;
  background-color: transparent;
  color: #00A9D8;
  font-size: 14px;
  font-weight: 100;
  user-select: none;
  transition: all .25s;
  -webkit-app-region: no-drag;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #00A9D8;
    color: #2F3242;
    outline: none;
  }
}

.footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  animation: fade-in 1s backwards;
  user-select: none;
  margin-bottom: 16px;
}

.footerWrapper {
  cursor: pointer;
  width: 140px;
  margin: 0 auto;
  font-size: 12px;
  color: #262835;
  text-align: center;
  transition: all .25s;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .05);
  &:hover {
    color: rgba(0, 0, 0, .4);
    .circleWrapper {
      border-color: rgba(0, 0, 0, .4);
    }
    .smallCircle {
      border-color: rgba(0, 0, 0, .4);
    }
    .bigCircle {
      border-color: rgba(0, 0, 0, .4);
    }
  }
}

.logo {
  font-weight: 100;
  position: relative;
  height: 10px;
  user-select: none;
  margin: 7px auto;
}

.circleWrapper {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  transition: all .25s;
}

.smallCircle {
  width: 6px;
  height: 6px;
  border-radius: 99px;
  border: 2px rgba(0, 0, 0, .2) solid;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
  transition: all .25s;
}

.bigCircle {
  position: absolute;
  bottom: 10px;
  width: 12px;
  height: 12px;
  border-radius: 99px;
  border: 2px rgba(0, 0, 0, .2) solid;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
  margin-left: 6px;
  transition: all .25s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%
  }
}
