.login {
  display: flex;
  align-items: center;
  height: inherit;
  height: 100vh;
  width: 100vw;
}

.loginContent {
  margin: 0 auto;
  width: 50vw;
  max-width: 450px;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  padding: 16px;
}

.button {
  border: 2px #00A9D8 solid;
  border-radius: 3px;
  padding: 4px 20px;
  background-color: transparent;
  color: #00A9D8;
  font-size: 14px;
  font-weight: 100;
  user-select: none;
  transition: all .25s;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #00A9D8;
    color: #2F3242;
    outline: none;
  }
}

.buttonLogInOut {
  position: absolute;
  right: 16px;
  top: 23px;
  border: 2px #00A9D8 solid;
  border-radius: 3px;
  padding: 4px 20px;
  background-color: transparent;
  color: #00A9D8;
  font-size: 14px;
  font-weight: 100;
  user-select: none;
  transition: all .25s;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #00A9D8;
    color: #2F3242;
    outline: none;
  }
}
