.logo {
  line-height: 75px;
  font-weight: 100;
  position: relative;
  color: #00A9D8;
  padding-left: 37px;
  user-select: none;
}

.circleWrapper {
  position: absolute;
  top: 40px;
  left: 0px;
}

.smallCircle {
  width: 6px;
  height: 6px;
  border-radius: 99px;
  border: 2px #00A9D8 solid;
}

.bigCircle {
  position: absolute;
  bottom: 10px;
  width: 12px;
  height: 12px;
  border-radius: 99px;
  border: 2px #00A9D8 solid;
  margin-left: 6px;
}
