.date {
  font-size: 18px;
  font-weight: 500;
  padding: 20px 16px;
  user-select: none;
  &::after {
    content: "";
    display: inline-block;
    width: 80px;
    background-color: #00A9D8;
    height: 2px;
    margin: 5px 10px;
  }
}

.time {
  float: right;
  margin-top: 3px;
  font-size: 10px;
  color: fade-out(#2F3242, 0.6);
  white-space: nowrap;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
